@using PLSS.Extensions
@model PLSS.Models.ViewModel.ProfileUserViewModel

<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" style="max-width: 100%;" href="@Url.RouteUrl("", new {Action = "index", Controller = "home"})">PLSS Corner Management
                <small>- Submit Existing Section Corner Data</small></a>
        </div>
    </div>

    @using (Html.BeginForm("Update", "Settings", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="container" style="padding-top: 60px">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    @Html.ErrorBox(TempData)
                </div>
            </div>
            <div class="row">
                <div class='form-group col-xs-6'>
                    <h1>Profile</h1>
                </div>
                <div class='col-xs-6'>
                    <img class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="data:image/png;base64,@Model.Base64Seal" />
                </div>
            </div>
            <div class="row">
                <div class='form-group col-xs-12 col-sm-6 col-lg-3'>
                    <label for="first">First Name</label>
                    <input type="text" name="first" value="@Model.First" class="form-control" placeholder="First Name">
                </div>     
                <div class='form-group col-xs-12 col-sm-6 col-lg-3'>
                    <label for="last">Last Name</label>
                    <input type="text" name="last" value="@Model.Last" class="form-control" placeholder="Last Name">
                </div>
                <div class='form-group col-xs-12 col-sm-6 col-lg-3'>
                    <label class="control-label">Email</label>
                    <input type="email" name="email" value="@Model.Email" class="form-control" placeholder="email@address" />
                </div>
                <div class='form-group col-xs-12 col-sm-6 col-lg-3'>
                    <label class="control-label">Surveryor License</label>
                    <input type="text" name="license" value="@Model.License" class="form-control"placeholder="surveryor license #" />
                </div>
            </div>
            <div class="row">
                <div class='form-group col-xs-12 col-sm-6 col-lg-3'>
                    <label for="currentpassword">Current Password</label>
                    <input type="password" name="currentpassword" class="form-control" placeholder="Password">
                </div>
                <div class='form-group col-xs-12 col-sm-6 col-lg-3'>
                    <label for="newpassword">New Password</label>
                    <input type="password" name="newpassword" class="form-control" placeholder="Password">
                </div>
                <div class='form-group col-xs-12 col-sm-6 col-lg-3'>
                    <label for="newpasswordAgain">New Password Again</label>
                    <input type="password" name="newpasswordAgain" class="form-control" 
                           placeholder="Matching Password">
                </div>
                <div class='form-group col-xs-12 col-sm-6 col-lg-3'>
                    <label for="file">Surveyor Seal</label>
                    <input type="file" name="file" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-5 col-sm-3">
                    <button type="submit" class="btn btn-default">Update</button>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-warning">Back</a>
                </div>
            </div>
        </div>
    }
</div>