@using PLSS.Extensions
@model dynamic

<div>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="navbar-header" >
            <a class="navbar-brand" style="max-width: 100%;" href="@Url.RouteUrl("", new {Action="index", Controller="home"})">PLSS Corner Management
                <small>- Submit Existing Section Corner Data</small></a>
        </div>
    </div>
    
    @using (Html.BeginForm("Existing", "TieSheet", FormMethod.Post, new {id = "cornerForm", enctype = "multipart/form-data"}))
    {
        <div class="container" style="padding-top: 60px">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    <div class="alert alert-warning">
                        This monument record information will be reviewed by the county surveyor under stewardship of this corner to satisfy the requirements of state code 17-23-17-7a.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    @Html.ErrorBox(TempData)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 form-group">
                    <label class="control-label">Submitted By</label>
                    <p class="form-control-static">@Model.user.UserName</p>
                </div>
                <div class="col-xs-6 col-sm-4 form-group">
                    <label class="control-label">Surveryor License</label>
                    <p class="form-control-static">@Model.user.SurveryorLicenseNumber</p>
                </div>
                <div class="col-xs-6 col-sm-4 form-group">
                    <label for="MonumentForm" class="control-label">Monument Record Pdf</label>
                    <input type="file" name="MonumentForm"/>
                    <input type="hidden" value="@Model.BlmPointId" name="blmpointid"/>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-offset-5 col-sm-7">
                            <button type="submit" class="btn btn-lg btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>