@model dynamic

<div>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="navbar-header" >
            <a class="navbar-brand" style="max-width: 100%;" href="@Url.RouteUrl("", new {Action="index", Controller="home"})">PLSS Corner Management
                <small>- Submit Section Corner Data</small></a>
        </div>
    </div>
    
    @using (Html.BeginForm("new", "tiesheet", FormMethod.Post, new {id = "cornerForm", enctype = "multipart/form-data"}))
    {
        <div class="container" style="padding-top: 60px">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    <div class="alert alert-warning">
                        This monument record information will be reviewed by the county surveyor under stewardship of this corner to satisfy the requirements of state code 17-23-17-7a.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label class="control-label">Submitted By</label>
                    <p class="form-control-static">@Model.user.UserName</p>
                </div>
                <div class="col-sm-6 form-group">
                    <label class="control-label">Surveryor License</label>
                    <p class="form-control-static">@Model.user.SurveryorLicenseNumber</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="collectionDate" class="control-label">Collection Date</label>
                    <input type="date" class="form-control" data-required="true" name="collectionDate" placeholder="Collection Date">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="blmpointid" class="control-label">BLM Point Number</label>
                    <input type="text" class="form-control" data-required="true" name="blmpointid" placeholder="UT2060090N0070E0_200400" value="@Model.blmid">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="county" class="control-label">County</label>
                    <select data-required="true" class="form-control" name="county">
                        <option>Beaver</option>
                        <option>Box Elder</option>
                        <option>Cache</option>
                        <option>Carbon</option>
                        <option>Daggett</option>
                        <option>Davis</option>
                        <option>Duchesne</option>
                        <option>Emery</option>
                        <option>Garfield</option>
                        <option>Grand</option>
                        <option>Iron</option>
                        <option>Juab</option>
                        <option>Kane</option>
                        <option>Millard</option>
                        <option>Morgan</option>
                        <option>Piute</option>
                        <option>Rich</option>
                        <option>Salt Lake</option>
                        <option>San Juan</option>
                        <option>Sanpete</option>
                        <option>Sevier</option>
                        <option>Summit</option>
                        <option>Tooele</option>
                        <option>Uintah</option>
                        <option>Utah</option>
                        <option>Wasatch</option>
                        <option>Washington</option>
                        <option>Wayne</option>
                        <option>Weber</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="accuracy" class="control-label">Accuracy</label>
                    <select class="form-control" name="accuracy" data-required="true">
                        <option>Survey Grade (+/-) 0.03m</option>
                        <option>Mapping Grade (+/-) 3m</option>
                        <option>Recreational Grade (+/-) 30m</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div id="trsNode"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="sectionCorner" class="control-label">Section Corner</label>
                    <select class="form-control" data-required="true" name="sectionCorner">
                        <option>NW</option>
                        <option>N 1/4</option>
                        <option>NE</option>
                        <option>E 1/4</option>
                        <option>SE</option>
                        <option>S 1/4</option>
                        <option>SW</option>
                        <option>W 1/4</option>
                        <option>Center</option>
                        <option>1/16</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="monumentStatus" class="control-label">Monument Status</label>
                    <select class="form-control" data-required="true" name="monumentStatus">
                        <option>Existing</option>
                        <option>Obliterated</option>
                        <option>Lost</option>
                        <option>Original (Previously unmonumented Section Subdivision)</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">Geographic Coordinates</label>
                </div>
                <div class="col-sm-12">
                    <select class="form-control" data-required="true" id="geographic" name="Coordinate.CoordinateSystem">
                        <option>WGS84 Geographic</option>
                        <option>NAD27 Geographic</option>
                        <option>NAD83 Geographic</option>
                    </select>
                </div>
            </div>
            <div id="geographicNode"></div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">Grid Coordinates</label>
                    <select class="form-control" data-required="true" name="Grid.CoordinateSystem" id="grid">
                        <option>NAD83 State Plane</option>
                        <option>NAD83 UTM Zone 12N</option>
                        <option>NAD83 UTM Zone 11N</option>
                        <option>NAD27 State Plane</option>
                    </select>
                </div>
            </div>
            <div id="gridNode"></div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="description" class="control-label">Monument Description</label>
                    <textarea rows="5" class="form-control" data-required="true" name="description" placeholder="Location information, terrain, general findings, monument condition, etc. Please limit your text to 500 characters."></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="notes" class="control-label">Monument Notes</label>
                    <textarea rows="5" class="form-control" data-required="true" name="notes" placeholder="Notes about the momument" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="alert alert-info">
                        Photos will look best if they have the standard 4:3 ratio.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="alert alert-warning">
                        Cumulative upload size needs to be less than 10 megabytes.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3 form-group">
                    <label for="sketch" class="control-label">Map View Photo or Sketch</label>
                    <input type="file" name="sketch"/>
                </div>
                <div class="col-sm-6 col-lg-3 form-group">
                    <label for="thumb" class="control-label">Monument Area Photo</label>
                    <input type="file" name="thumb"/>
                </div>
                <div class="col-sm-6 col-lg-3 form-group">
                    <label for="thumb2" class="control-label">Monument Close-up Photo</label>
                    <input type="file" name="thumb2"/>
                </div>
                <div class="col-sm-6 col-lg-3 form-group">
                    <div id="uploaderNode"></div>
                </div>
            </div>
            <div class="row">
                @Html.Raw(Model.SurveyorSeal)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 hidden" id="messageNode">
                <div class="alert alert-danger text-center">
                    Please scroll up and fix the errors highlighted in red.
                </div>
           </div>
            <div class="col-xs-12 col-sm-offset-4 col-sm-7">
                <button type="submit" name="submitType" value="preview" class="btn btn-lg btn-default">Preview</button>
                <button type="submit" name="submitType" value="save" class="btn btn-lg btn-success">Submit</button>
            </div>
        </div>
    }
</div>
@*<script src="../src/populatr/populatr.min.js"></script>*@
<script data-dojo-config="isDebug: 1,parseOnLoad: 0" src="/plss/src/dojo/dojo.js"> </script>
<script src='~/src/app/Tiesheet.js'> </script>